
<style>
    :host{
        font-family: Arial, Helvetica, sans-serif;
    }
.container{
    width: 300px;
    
    
    padding: 2em;
    


}
.container h1{
    text-align: center;
}
.btn{
    background-color: #260b3d;
    width: 100%;
    color: white;
    margin:0px;

}


</style>

<div class="container">
    <h1>
        SMS
    </h1>
    <paper-input id="text" label="text" type="textarea"></paper-input>
    <paper-input id="to" label="text" type="textarea"></paper-input>
    
    <paper-button on-tap="on_clicked" class="btn">send</paper-button>
    
    
</div>
