
.container{
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 30px;    
    margin-bottom: 30px;

}
.container h1{
    text-align: center;
}
.btn{
    background-color: #260b3d;
    width: 100%;
    color: white;
    margin:0px;

}
          
          
