

<div class="container" >
<center>
    <h1>Black Bullet </h1>
</center>
<div class="flex">
    <div> 
      <p>Black bullet is an application that aims to provide android integration to Linux. </p>
      <p>My goal was to have android notification on my Desktop</p>
      <p>Downloads:</p>
      <div class="flex">
        <div class="package">
          <a href="https://www.dropbox.com/s/fzt2ejdu2ff3qa8/blackbullet.deb?dl=0">
          <center>
          <img src="/static/images/icon.png">
          </center>
          <center>LINUX (DEB)</center>
        </a>
        </div>
        <div class="package">
          <a href="https://www.dropbox.com/s/3vbg9jhlbzepbhv/app-release.apk?dl=0">
          <center>
            <img src="/static/images/icon.png">
          </center>
            <center>ANDROID (APK)</center>
          </div>
        </a>
      </div>

      <div>
        
        <a class="donate" href="https://www.paypal.me/digit1024">
          Donate Project
        </a>
      
      </div>
    </div>
    
    <iframe width="500" height="300"
    src="https://www.youtube.com/embed/XSeJT7q1k8k">
    </iframe>
    
</div>




</div>