<div class="container">
  <center>
    <h1>Black Bullet </h1>
  </center>

  <a class="donate" href="https://www.paypal.me/digit1024">
    Donate Project
  </a>
  <br>
  <br>
  
  <div class="flex">
    <div>
      <p>Black bullet is an application that aims to provide android integration to Linux. </p>
      <p>My goal was to have android notification on my Desktop</p>
      <p>Downloads:</p>
      <div class="flex">
        <div class="package">
          <a href="https://www.dropbox.com/s/miiqye91c04b5ms/blackbullet.deb?dl=0">
            <center>
              <img src="/static/images/icon.png">
            </center>
            <center>LINUX (DEB)</center>
          </a>
        </div>
        <div class="package">
          <a href="https://www.dropbox.com/s/3vbg9jhlbzepbhv/app-release.apk?dl=0">
            <center>
              <img src="/static/images/icon.png">
            </center>
            <center>ANDROID (APK)</center>
        </div>
        </a>
      </div>

      
    </div>
    <div>
      <center>
        <img src="/static/images/blackbullet.jpg">
        </center>
    </div>

  </div>

  <div class="movie">
    <iframe width="500" height="300" src="https://www.youtube.com/embed/XSeJT7q1k8k">
    </iframe>
  </div>



</div>