<div class="container">


  <a class="donate" href="https://www.paypal.me/digit1024">
    Donate Project
  </a>
  
  <br>
  <br>
  
  
  <div class="flex">
    <div>
      <p>Black bullet is an application that aims to provide android integration to Linux. </p>
      <p>Currently supported functionalities:</p>
        <ul>
          <li>Notifications integration</li>
          <li>Battery Status</li>
          <li>Remote ringtone playing</li>
          <li>Clipboard shareing</li>
        </ul>
        <p>Devices don't have to be in the same network to make it work. Simply download and install apk, then register in your phone and you are ready to go. </p>
        <p>Install deb package on your linux or download sources from my github. </p>
        <p>Downloads:</p>
      <div class="flex box">
        <div class="package">
          <a href="https://www.dropbox.com/s/miiqye91c04b5ms/blackbullet.deb?dl=0">
            <center>
              <img src="/static/images/icon.png">
            </center>
            <center>LINUX (DEB)</center>
          </a>
        </div>
        <div class="package">
          <a href="https://www.dropbox.com/s/3vbg9jhlbzepbhv/app-release.apk?dl=0">
            <center>
              <img src="/static/images/icon.png">
            </center>
            <center>ANDROID (APK)</center>
          </a>
        </div>
    
      </div>

      
    </div>
    <div>
      <center>
        <img src="/static/images/blackbullet.jpg">
        </center>
    </div>

  </div>
  

  <div class="movie">
    <iframe width="500" height="300" src="https://www.youtube.com/embed/XSeJT7q1k8k">
    </iframe>
  </div>



</div>