<div class="top-bar">
  <div class="left">BLACK BULLET APPLICATION</div>
  
  <style>
    .top-bar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: #260b3d;
      color: white;
      padding: 10px 20px;
      margin-bottom: 15px;
      
    }
    .left{
      font-size: 2em;
      font-family: Arial, Helvetica, sans-serif;
      
    }

    .top-bar .right button {
      background: white;
      border: none;
      padding: 5px 20px;
    }
  </style>
</div>