<style>
.warning{
  text-align: center;
  background-color: #783342;
  margin: 0px;
  font-size: 24px;
  color: white;
}
.info{
  text-align: center;
  background-color: #5C2A6B;
  margin: 0px;
  font-size: 24px;
  color: white;
}
.tabs {
             --paper-tabs-selection-bar: {
                 
                 background-color: rgba(255, 255, 255, 0,5);
                 
             };
             --paper-tabs-container: {
               margin: 0px;
             };
             --paper-tabs: {
               background-color: #62497a;
               color: white;
             }
}
 
</style>

<div class="container" >
<div class="info">
    You are now nonnected
</div>
<div class="warning">
  DONT CLOSE THIS WINDOW TO RECIVE NOTIFICATIONS
</div>
<paper-tabs selected="{{selected}}" scrollable id="tabs" class="tabs">
    <paper-tab>LOG</paper-tab>
    <paper-tab>Send SMS from your mobile</paper-tab>
    <paper-tab>Send notification to phone</paper-tab>
    <paper-tab>play ringtone</paper-tab>
  </paper-tabs>

<iron-pages selected="{{selected}}">
  <div>
     <app-socket-log></app-socket-log>
  </div>
  <div>
    <app-send-sms></app-send-sms>
  </div>
<app-send-notification></app-send-notification>
<app-play-ringtone></app-play-ringtone>


</iron-pages>



  
</div>